/* PALETA */
:root {
  --morado: #6a0dad;
  --morado-oscuro: #0d0b1a;
  --morado-neon: #8a2be2;
  --dorado: #ffd700;
  --blanco: #ffffff;
  --gris: #cfcfcf;
}

/* GENERAL */
body {
  font-family: 'Segoe UI', sans-serif;
  background: radial-gradient(circle at top, #1a1333, #0d0b1a);
  color: var(--blanco);
  margin: 0;
  padding-top: 80px;
}

form {
  display: flex;
  flex-direction: column; /* los pone uno debajo de otro */
  gap: 10px;              /* espacio entre inputs y botón */
  width: 250px;           /* opcional para que no se estire raro */
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center; /* horizontal */
  align-items: center;     /* vertical */
  background: #f2f2f2;     /* opcional */
}

.login-container {
  text-align: center;
  flex-direction: column;
}

form input{
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid rgba(255,255,255,0.3);
  border-radius: 6px;
  background: rgba(255,255,255,0.15);
  color: white;
  outline: none;
}

button {
  display: inline-block;
    background: var(--morado-neon);
    color: white;
    padding: 10px;
    border-radius: 8px;
    margin: 5px;
    transition: 0.3s;
    
}

body {
    font-family: 'Segoe UI', sans-serif;
    background: radial-gradient(circle at top, #1a1333, #0d0b1a);
    color: var(--blanco);
    margin: 0;
    padding-top: 80px;
}

img {
  height: 200px;
}